<div class="grid-container">
  <div class="stats-container stat">
    <h3>My Performance</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, suscipit!</p>
  </div>
  <div class="stats-container stat">
    <h3>Tickets Overview</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit deleniti blanditiis ducimus et laudantium tempore assumenda repellat, quam molestiae ipsum!</p>
  </div>
  <div class="stats-container stat">
      <h3>Pending Tickets</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe ea numquam repellendus.</p>
  </div>
</div>
