
$black: #000000;
$white: #ffffff;

// Greys
$grey-darkest: #323232;
$grey-dark: #444444;
$grey: #5b5b5b;
$grey-light: #f1f1f1;
$grey-lightest: #eeefea;

// Colors

$green: #a2ad00;
$blue: #7c89a1;
$orange: #ff8b42;
$yellow: #fecc07;
$red: #ef494d;
$gold: #d0b54f;
$brow: #aaa38e;



